[package]
name = "jos"
version = "0.1.0"
edition = "2024"

[profile.dev]
panic = "abort"
lto = true
opt-level = "z"
codegen-units = 1

[profile.release]
panic = "abort"
lto = true
opt-level = "z"
codegen-units = 1
